{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Chart javascript -->
    <script src="{{ STATIC_URL }}highcharts/highcharts.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/index.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap4/css/bootstrap.min.css">
    {#    <script src="https://code.highcharts.com/highcharts.js"></script>#}
    {#    <script src="https://code.highcharts.com/modules/exporting.js"></script>#}
     <!-- Bootstrap Javascript -->
    <script src="{{ STATIC_URL }}jquery/jquery-3.2.1.min.js"></script>
    <script src="{{ STATIC_URL }}popper/popper.js"></script>
    <script src="{{ STATIC_URL }}bootstrap4/js/bootstrap.min.js"></script>

    <title>KPN Digital</title>
</head>
<body>
{% include 'navbar.html' %}
{% include 'alerts.html' %}
<div class="background-image">
    {% if dev %}
        <div class="alert alert-warning text-center" role="alert">
            You're currently working on the local dev environment!
        </div>


    {% endif %}
    <div class="container">
        {% block content %}


        {% endblock %}
    </div>
</div>


</body>
</html>





