<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">KPN Digital</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" {##}id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {#            <li class="nav-item">#}
            {#                <a class="nav-link {{ retro_nav }}" href="{% url 'tosti:index' %}">Tosti</a>#}
            {#            </li>#}
            {# Menu items available only for logged in users #}
            {% if user.is_authenticated %}
                {#            <li class="nav-item">#}
                {#                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>#}
                {#            </li>#}
                <li class="nav-item">
{#                    <a class="nav-link {{ retro_nav }}" href="{% url 'retrospective:index' %}">Retrospectives</a>#}
                </li>
                {#            <li class="nav-item">#}
                {#                <a class="nav-link {{ actions_nav }}" href="{% url 'retrospective:actions' %}">Actions</a>#}
                {#            </li>#}

                <ul class="navbar-nav actions">
                    {#                    <li class="nav-item login-item">#}

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle {{ actions_nav }}" data-toggle="dropdown" href="#"
                           role="button"
                           aria-haspopup="true" aria-expanded="false" id="actionDropDown">Actions</a>
                        <div class="dropdown-menu" aria-labelledby="actionDropDown">
{#                            <a class="dropdown-item" href="{% url 'retrospective:action-status' 'open' %}">Overview</a>#}
{#                            <a class="dropdown-item" href="{% url 'retrospective:add-action' %}">Add action</a>#}
{#                            <a class="dropdown-item" href="{% url 'retrospective:feedback' %}">Add feedback</a>#}
                        </div>

                    </li>
                </ul>

                </ul>


                <ul class="navbar-nav mr-right login">
                <li class="nav-item login-item">

                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                   aria-haspopup="true" aria-expanded="false">{{ user }}</a>
                <div class="dropdown-menu">
{#                    <a class="dropdown-item {{ login_nav }}" href="{% url 'accounts:settings' %}">Settings</a>#}
{#                    <a class="dropdown-item {{ login_nav }}" href="{% url 'accounts:logout' %}">Logout</a>#}
                </div>
            {% else %}
{#                <a class="nav-link {{ login_nav }}" href="{% url 'accounts:login' %}">Login</a>#}
            {% endif %}

            </li>
            </ul>


    </div>
</nav>
{##}
{##}
{#<nav class="navbar navbar-expand-lg navbar-light bg-light">#}
{#    <div class="container-fluid">#}
{#        <!-- Brand and toggle get grouped for better mobile display -->#}
{#        <div class="navbar-header">#}
{#            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"#}
{#                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">#}
{#                <span class="sr-only">Toggle navigation</span>#}
{#                <span class="icon-bar"></span>#}
{#                <span class="icon-bar"></span>#}
{#                <span class="icon-bar"></span>#}
{#            </button>#}
{#            <a class="navbar-brand" href="/">KPN Digital</a>#}
{#        </div>#}
{##}
{#        <!-- Collect the nav links, forms, and other content for toggling -->#}
{#        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">#}
{#            <ul class="nav navbar-nav">#}
{#                <li class={{ tosti }}><a href="{% url 'tosti:index' %}">Tosti <span class="sr-only">(current)</span></a>#}
{#                </li>#}
{#                <li class=""><a href="">Retrospectives</a></li>#}
{#                <li class=""><a href="{% url 'feedback:index' %}">MijnKPN</a></li>#}
{#                <li class=""><a href="">Quiz</a></li>#}
{##}
{#                <li><a class="modal" data-toggle="modal" data-target="#about">Ideas?</a></li>#}
{#            </ul>#}
{##}
{##}
{#            <!-- Modal button -->#}
{#            <ul class="nav navbar-nav navbar-right">#}
{#                <li><a class="modal" data-toggle="modal" data-target="#about">About</a></li>#}
{#            </ul>#}
{##}
{#            {% include 'modal.html' %}#}
{##}
{#            {% if user.is_authenticated %}#}
{#                <ul class="nav navbar-nav navbar-right">#}
{#                    <li class="dropdown active {{ login }}">#}
{#                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"#}
{#                           aria-expanded="false">{{ user|title }} <span class="caret"></span></a>#}
{#                        <ul class="dropdown-menu">#}
{#                            <li><a href="{% url 'accounts:settings' %}">Settings</a></li>#}
{#                            <li><a href="{% url 'accounts:logout' %}">Logout</a></li>#}
{#                            <li><a href="#">Something else here</a></li>#}
{#                            <li role="separator" class="divider"></li>#}
{#                            <li><a href="#">Separated link</a></li>#}
{#                            <li role="separator" class="divider"></li>#}
{#                            <li><a href="#">One more separated link</a></li>#}
{#                        </ul>#}
{#                    </li>#}
{#                </ul>#}
{##}
{#            {% else %}#}
{##}
{#                <ul class="nav navbar-nav navbar-right">#}
{#                    <li class={{ login }}><a href="{% url 'accounts:login' %}">Login</a></li>#}
{#                </ul>#}
{##}
{##}
{##}
{#            {% endif %}#}
{#        </div>#}
{#    </div>#}
</nav>